/* Layout */
html {
	display: flex;
	flex-direction: column;
} /* IE fix */

body {
	display: flex; 				/* crée un contexte flex pour ses enfants */
	flex-direction: column; 	/* affichage vertical */
	min-height: 100vh; 			/* toute la hauteur du viewport (compatible IE9+) */
}

.wrapper {
	display: block; 			/* IE fix */
	flex: 1 1 auto; 			/* occupe la hauteur restante */
	display: flex; 				/* crée un contexte flex pour ses enfants */
	flex-direction: row; 		/* affichage horizontal */
}

nav {
	width: 13em;
	display: flex; 				/* crée un contexte flex pour ses enfants */
	flex-direction: column;
}

aside {
	width: 13em;
	display: flex; 				/* crée un contexte flex pour ses enfants */
	flex-direction: column;
}


.content {
	display: block; 				/* IE fix */
	flex: 1; 						/* occupe la largeur restante */
	display: flex; 				/* crée un contexte flex pour ses enfants */
	flex-direction: column; 		/* affichage vertical */
}

.conteneurJauge {
	display: flex; 				/* crée un contexte flex pour ses enfants */
	flex-direction: row; 		/* affichage horizontal */
	margin: auto auto;
}

.conteneurVjauge {
	display: flex; 				/* crée un contexte flex pour ses enfants */
	flex-direction: column; 		/* affichage vertical */
}

.conteneurHjauge {
	display: flex; 				/* crée un contexte flex pour ses enfants */
	flex-direction: row; 		/* affichage horizontal */
}

.conteneurAlarme {
	display: flex; 				/* crée un contexte flex pour ses enfants */
	flex-direction: row; 		/* affichage horizontal */
	justify-content: space-around;
	width: 50em;
	margin: auto auto;
}

.conteneurHalarme {
	text-align: center;	
}

.conteneurValarme {
	display: flex; 				/* crée un contexte flex pour ses enfants */
	flex-direction: column; 		/* affichage vertical */
}

.conteneurET {
	display: flex; 				/* crée un contexte flex pour ses enfants */
	flex-direction: row; 		/* affichage horizontal */
	justify-content: space-around;
	width: auto;
}

footer {
	display: flex; 				/* crée un contexte flex pour ses enfants */
	flex-direction: row; 		/* affichage horizontal */
	justify-content: space-around;
	align-items: center;
}

/* Decoration */
body {
	margin: 0;
	background: #BFBFBF;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1.1em;
}

header, nav, aside, section, footer {
	padding: 10px;
	margin: 0;
	border: 5px solid #BFBFBF;
	border-radius: 10px;
	background: black;
	color: #94E5FF;
}

header {
	height: 5vh;
}

h1, h2, h3 {
	text-align: center;
	margin: 0 ;
}

h4 {
	text-align:center;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
}

aside p {
	text-align: center;
	margin: 0 ;
}

footer {
	text-align: center;
}

#EPC, #EPF {
	text-align: center;
}

.rouge {
	color: #FF7F7F;
}

.bleu {
	color: #6DB7FF;
}

.cyan {
	color: cyan;
}

.jaune {
	color: yellow;
}

/* Responsive */
@media (max-width: 1300px) {
	body {
		min-height: 0;
	}

	.wrapper {
		flex-direction: column;
	}

	.content {
		flex-direction: column;
		flex-basis: auto;
		order: 1;
	}

	nav {
		width: auto;
		order: 2;
	}

	aside {
		width: auto;
		order: 3;
	}

	.conteneurJauge {
		flex-direction: column;
		margin: 0 auto;
	}
	
	.conteneurET {
		width: 15em;
		margin: 0 auto;
	}
	
	.conteneurAlarme {
		flex-direction: column; 
		justify-content: center;
		width: auto;
		margin: 0 auto;
	}
}

@media (max-width: 1000px) {
	.conteneurHjauge {
		flex-direction: column;
		width: auto;
		margin: 0 auto;
	}
}
